<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor = "let k of lista" style= color:green> 
    <ion-card-subtitle>
      {{json.sistema.usuarios[k].edad}} 
      {{json.sistema.usuarios[k].color}} 
    </ion-card-subtitle>
    <ion-card-header>  
      {{json.sistema.usuarios[k].nombre}} 
      {{json.sistema.usuarios[k].apellidos}}
    </ion-card-header> 
     
    <ion-card-content> 
      <img src={{json.sistema.usuarios[k].foto}}/>
      
    </ion-card-content>
  </ion-card> 
  
</ion-content>
